{% extends 'base.html' %}
{% block csslink %}
<link rel="stylesheet"  href="static/aboutcss.css">
{% endblock csslink %}
{% block title %}
About page
{% endblock title %}
{% block first_section_content %}
<div class="about">
    <h2 >
        About Utsav
    </h2>
    <p >Utsav is an Official Cultural Event of SGGSIE&T, Nanded. This event consists of a whole range of act
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum nostrum ab optio velit asperiores recusandae pariatur. Obcaecati eius autem architecto assumenda officia! Nisi praesentium amet ea quisquam nemo rem consectetur.
    </p>

 </div>
{% endblock first_section_content %}
{% block nextsection_content %}
<h1 class="titleforstages"><br>
    Working of Utsav in Three stages
</h1>
<nav class="threeblocks">
    <div class="head">
      <a href="#">
        <video class="video1" src="static/images/miniaudition.mp4" alt="mini audition" height="250px" width="300px" controls></video>
        <h2>
            MINI AUDITION
      </h2>
      <p>
       the basic process for utsav starts from mini audtions. where lots of performenses are seen by the corresponding club heads like avaroh, fsdc,gandharv. or there will be judges to judge participants. these all happens 1 month before main event.
         </p>
    </a>
    </div>
    <div class="guest">
      <a href="#">
        <video class="video2" src="static/images/adiadded2.mp4" alt="mega audition"height="250px" width="300px" controls></video>
        
      <h2>
        MEGA AUDITION
      </h2>
      <p>
        after complition of mini auditions, there are mega auditions. this is the passing criteria for performing in live event many of branch, group, solo participants are seen here. a
    </p>
    </a>
    </div>
    <div class="director">
      <a href="#">
        <video src="static/images/adiadded3.mp4" alt="ustav events"height="250px" width="300px" controls></video>
        <h2>USTAV EVENT
      </h2>
      <p>
        at last the event comes,where every committee member give their best to showcase utsav on largescale. every club,audience,guest,teachers,students,workers,gurds everyone give their best and make it Happen.Preparation is started.Hope so you will enjoy utsav this year also..
      </p>
    </a>
    </div>
  </nav>
{% endblock nextsection_content %}