{% extends 'base.html' %}
{%load static %}
{% block csslink %}
<link rel="stylesheet"  href="static/committee.css">

{% endblock csslink %}
{% block title %}
committees page
{% endblock title %}
{% block first_section_content %}
    <h1>
        We are glad to announce our Utsav-2023 Head and club coordinators...
    </h1>
<div class="officialhead">
        <a href="#">
          <img src="{% static 'images/logo1.png' %}" height"100px" width="100px" >
          <h2>
             <strong>Official head</strong>
        </h2>
        <p>
          Prathmesh chavan<br>
          cse<br>
          Third Year<br>
          7219778703
        </p>
      </a>
</div>
<div class="committee">
    <div class="club-coordinator">
        <a href="#">
          <img src="{% static 'images/logo1.png' %}" height"100px" width="100px" >
          <h2>
             <strong>Finance and Food-site committee</strong>
        </h2>
        <p>
          Name:Suhas Kalyankar<br>
          branch: cse<br>
          Third Year<br>
          contact:7219778703
        </p>
      </a>
      </div>
      <div class="club-coordinator">
        <a href="#">
          <img src="{% static 'images/logo1.png' %}" height"100px" width="100px" >
          <h2>
             <strong>Guest Management Committee</strong>
        </h2>
        <p>
          Name:Vedant Puranik<br>
          branch:Production<br>
          Third Year<br>
          contact:7219778703
        </p>
      </a>
      </div>
      <div class="club-coordinator">
        <a href="https://www.linkedin.com/in/harsh-vanvale-7b8394227">
          <img src="{% static 'images/harsh.png' %}" height"100px" width="100px" >
          <h2>
             <strong>Web and Publicity Committee</strong>
          </h2>
        <p>
          Name:Harsh Wanwale<br>
          branch:Extc<br>
          Third Year<br>
          contact:7219778703
        </p>
      </a>
      </div>     
</div>
<div class="committee"> 
    <div class="club-coordinator">
        <a href="#">
          <img src="{% static 'images/logo1.png' %}" height"100px" width="100px" >
          <h2>
             <strong>
              competition Management Committee</strong>
        </h2>
        <p>
          Name:Kamaljeet singh kapse<br>
          Branch:Production<br>
          Third Year<br>
          contact:7219778703
        </p>
      </a>
      </div>
      <div class="club-coordinator">
        <a href="#">
          <img src="{% static 'images/logo1.png' %}" height"100px" width="100px" >
          <h2>
             <strong>Anchoring,drama,singing,<br>dance committee</strong>
        </h2>
        <p>
          Name:Lakhan Tapdiya<br>
          branch:Electronics<br>
          Third Year<br>
          contact:7219778703
        </p>
      </a>
      </div>
      <div class="club-coordinator">
        <a href="#">
          <img src="{% static 'images/logo1.png' %}" height"100px" width="100px" >
          <h2>
             <strong>Back Stage and Prize Distribution Committee</strong>
        </h2>
        <p>
          Name:Chandan Patil<br>
          branch: cse<br>
          Third Year<br>
          contact:7219778703
        </p>
      </a>
      </div>     
</div>
<div class="committee"> 
  <div class="club-coordinator">
      <a href="#">
        <img src="{% static 'images/logo1.png' %}" height"100px" width="100px" >
        <h2>
           <strong>Decoration committee</strong>
      </h2>
      <p>
        name:Arti Zadpe<br>
        Branch:Production<br>
        Third Year<br>
        contact:7219778703
      </p>
    </a>
    </div>
    <div class="club-coordinator">
      <a href="#">
        <img src="{% static 'images/logo1.png' %}" height"100px" width="100px" >
        <h2>
           <strong>student co-ordinator</strong>
      </h2>
      <p>
        Name:Harjinder singh dhillon<br>
        branch:Electronics<br>
        Third Year<br>
        contact:7219778703
      </p>
    </a>
    </div>
    <div class="club-coordinator">
      <a href="#">
        <img src="{% static 'images/logo1.png' %}" height"100px" width="100px" >
        <h2>
           <strong>student co-ordinator</strong>
      </h2>
      <p>
        name:Shashank desai<br>
        branch: cse<br>
        Third Year<br>
        contact:7219778703
      </p>
    </a>
    </div>     
</div>

{% endblock first_section_content %}
{% block nextsection_content %}
{% endblock nextsection_content %}